

body{
    margin: 0px;
    background: linear-gradient( to bottom left,rgb(231, 231, 231),rgb(112, 214, 214));
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 100%;
    max-width: 200rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.sitelogo{
    
    margin-top: .5rem;
    
}

.nav-items ul{
    display: flex;
   
    
}
.nav-items ul li{
    list-style: none;
    margin-left: 2rem;
    font-size: 1.4rem;
}
.nav-items ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    font-size: 1rem;
}
.login{
    display: flex;

}
.login button{
    border-radius: 8px;
    background: rgb(200, 214, 227);
    width: 7rem;
    
    height: 2.7rem;
    margin-top: .4rem;
    margin-left: 2rem;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    font-size: 1rem;

}
.hero{
    display: flex;
    margin-top: 3rem;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
   
}
.hero-left{
    display: flex;
    flex-direction: column;
    
    
}
.hero-left p{
    float: left;
}
.hero-left h1{
    font-size: 4rem;
    margin-top: -.2rem;
}
.hero-right{
   
    display: flex;
    justify-content:space-evenly;
    
}
.hero-right .two-pic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5rem;
}
.hero-right .one-pic img{
    width: 100%;
    max-width: 15.5rem;
    border-radius: 10px;
}
.hero-right .two-pic img{
    width: 100.%;
    max-width: 13rem;
    border-radius: 10px;
    
}
.hero-right .two-pic .des{
    width: 100.%;
    max-width: 13rem;
    border-radius: 10px;
    background-image: url("image3.png");
    background-size: 13rem;
    height: 12rem;
    align-items: center;
    justify-content: center;
    
}
.hero-right .two-pic .des p{
   
    
    margin-left: 1rem;
    margin-top: 3rem;
    color: white;
    font-size: 1.2rem;
    
}

@media screen and (max-width:700px){
    body{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .sitelogo img{
        width: 15vw;
    }
    .nav-items ul li{
        font-size: 3vw;
        margin-left: 4vw;
    }
    .login button{
        border-radius: 8px;
        background: rgb(200, 214, 227);
        font-size: 2.4vw;
        max-width: 10vw;
        height: 4vw;
       
        margin-left: 2vw;
        
    }
    .hero-left h1{
        font-size: 7vw;
    }
    .hero-left .bottom img{
        width: 6vw;
     }
    .hero-right .one-pic img{
        width: 37vw;
    }
    .hero-right .two-pic{
        margin-left: 2vw;
    }
    .hero-right .two-pic img{
        width:31vw;
    }
    .hero-right .two-pic .des{
        height: 28vw;
        background-size: 30vw;
    }
    .hero-right .two-pic .des p{
        font-size: 3vw;
        margin-top: 5vw;
    }
} 